<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EXAMPLE</title>
    <base href="#" target="_blank">
    <link rel="stylesheet" type="text/css" href="../static/layout/header.css">
    <link rel="stylesheet" type="text/css" href="../static/layout/content.css">
</head>
<body>
<div class= "container">

    <div class="header">
            <div class="header-menu">
                <div class="menu-home">
                    <div class="home-icon"></div>
                </div>
                <div class="menu-wrap">
                    <div class="wrap-title">Công thức</div>
                </div>
                <div class="menu-wrap">
                    <div class="wrap-title">Cộng đồng</div>
                </div>
                <div class="menu-wrap">
                    <div class="wrap-title">Blog</div>
                </div>
                <div class="menu-wrap">
                    <div class="wrap-title">Bộ sưu tập</div>
                </div>
                <div class="menu-wrap">
                    <div class="wrap-title">Video</div>
                </div>
                <div class="menu-wrap">
                    <div class="wrap-title">Top thành viên</div>
                </div>
            </div>
            <div class="header-search"></div>

    </div>

    <div class="content">

        <div class="search-menu"></div>
        <div class="suggestion"></div>

    </div>

</div>
    

</body>
</html>