<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, CSS, XML, XHTML, JavaScript">
    <meta name="description" content="Free Web tutorials on HTML and CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page example 3</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body>
    <div style="background-color: wheat">
        <section>
            <dfn id="dautrang">Trang số 3</dfn>
            <nav>
                <a href="Page_2.html">Back to page 2</a> |
                <a href="layout.html">Back to page 1</a> |
                <a href="Page_3.html">Reload</a>
            </nav>
        </section>


    </div>
    <div class="form">
        <section>
            <form method="GET">
                <input list="browser" name="value" width="15px" height="50px">
                <datalist id="browser">
                    <option>Chorme</option>
                    <option>Firefox</option>
                    <option>InternetExplore</option>
                </datalist>
                <input type="submit" value="Go!!!"><br>
                <input type="reset">
            </form>
        </section>

    </div>

    <svg width="100" height="100">
        <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
        Sorry, your browser does not support inline SVG.
    </svg>
    <section>
        <h3>Thẻ details (chi tiết) và thẻ sumary (Tóm tắt)</h3>
        <details open>
            <summary>Hai loại đồ uống phổ biến</summary>
            <dl>
                <dt>Coffee</dt>
                <dd><q>Most people would describe their coffee fairly simply: hot, black, sweet, expensive.
                    <wbr>But there’s an organization, the Specialty Coffee Association of America,
                        that takes the art of explaining what a cup of joe tastes like very, very seriously.</q> </dd>
                <dt>Milk Tea</dt>
                <dd>&Diamond; Milk tea refers to several forms of beverage found in many cultures, containing some
                    combination of tea
                    and milk.
                    Beverages vary based on the amount of each of these key ingredients, the method of preparation, and
                    the
                    inclusion of other ingredients</dd>
            </dl>
        </details>
    </section>

    <section>
        <figure>
            <img src="../image/anhdao.jpg" width="30%" height="30%">
            <figcaption>hoa anh đào</figcaption>
        </figure>
    </section>
    <section>
        <form>
            <label for="male">Male</label>
            <input type="radio" id="male" value="male" name="gender"><br>
            <label for="female">Female</label>
            <input type="radio" id="female" value="female" name="gender"><br>
            <label for="other">Other</label>
            <input type="radio" id="other" value="other" name="gender"><br>
            <input type="submit" value="submit">
        </form>
    </section>
    <section>
        <h3>Link Video:</h3>
        <iframe width="580px" height="400px" src="../video/PrettyOnTheInside.mp4?autoplay=0">
            <p>Your browse un support file mp4 :(</p>
        </iframe>
    </section>
    <section>
        <script>
            document.write("Hello World!!!")
        </script>
        <noscript>
            Sorry your browse unsupported JavaScript!!!
        </noscript>
    </section>
    <section>
        Downloading progress:
        <progress value="22" max="100">
    </section>
    <section>
        <footer>
            <a href="#dautrang">Quay về đầu trang</a>
        </footer>
    </section>


</body>

</html>